

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <h1 class="centro">SkeletonAPP</h1>
      <p>Aquì comenzò todo</p>
    <br><br>
    <h6 class="centro">Bienvenido!</h6>
    <br>
    <ion-item class="input">
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button class="boton" expand="full">Ingresar</ion-button>
    <a class="url" href="">Crea tu cuenta gratis</a>
  </div>
</ion-content>

