

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <h1>SkeletonAPP</h1>
    <p>Aquì comenzò todo</p>
    
    <strong>Bienvenido!</strong>
    
    <ion-item>
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button expand="full">Ingresar</ion-button>
    <a href="">Crea tu cuenta gratis</a>
  </div>
</ion-content>
